*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/gradle.properties
app/MyTestApplication.jks
app/src/test/
projectFilesBackup/
/app/.externalNativeBuild/
/.idea/
/gradle/
/MyTestApplication.iml
/projectFilesBackup/
/build/
/.gradle/
