<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.alphadog.mytestapplication">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name=".mvp.view.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".mvp.view.SearchActivity"
            android:label="@string/search_activity"
            android:screenOrientation="portrait">

        </activity>

        <meta-data
            android:name="channel"
            android:value="${CHANNEL}"/>

        <service
            android:name=".service.AppLifeTimeService"
            android:exported="false"/>

        <provider
            android:name=".provider.StringContentProvider"
            android:authorities="stringcontentprovider"
            android:enabled="true"
            android:exported="true">
        </provider>
    </application>

</manifest>